<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <Hostname>Node5</Hostname>
    <DnsIp>null</DnsIp>
    <RMIPort>1099</RMIPort>
    <MulticastPort>2000</MulticastPort>
    <TcpFileTranferPort>2001</TcpFileTranferPort>
    <NeighborPort>2003</NeighborPort>
    <RemoteNsName>NameServerInterface</RemoteNsName>
</config>
